.Candybox {
  color: black;
  padding: 0.5em 0.5em 0.5em;
  display: inline-block;
}

.name{
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.candyimage {
  height: 75px;
  width: 50px; 
  margin-left: 45px;
  margin-right: 45px;
}

.category {
  font-size: 5px;
  font-style: italic;
  margin-left: 5px;
  margin-right: 5px;
}

.Reviewbox{
  color: black;
  background-color: #ffb6c1;
  padding: 0.5em 0.5em 0.5em;
  border: .5px solid black;
}

.ReviewCandyName{
  font-size: 10px;
}

.ReviewComment {
  font-size: 8px;
}

.ReviewUserName {
  font-size: 6.5px;
  font-style: italic;
}